{% assign current = page.url | downcase | split: '/' %}


<header class="sidebar">
	<nav>
		<!-- Name; redirects to home page -->
		<p class="title"><a href="{{ site.baseurl }}/">Amber Frid-Jimenez</a></p>

		<!-- Hamburger icon; opens and closes menu on mobile devices -->
		<button class="hamburger" onclick="document.querySelector('.navbar-links').classList.toggle('collapsed')">
			<img src="/../assets/icons/hamburger_icon.svg">
		</button>

		<!-- Navigation links; pulled from `_data/navigation.yml`, new links should be added there -->
		<ul class="navbar-links collapsed">
			<li>
				<a href="/" 
				{% unless current[1] %} class='current' {% endunless %}
				{% if current[1] == 'projects' %}   class='current'{% endif %}>
					{{ site.data.navigation.home }}
				</a>
			</li>
			
			{% for link in site.data.navigation.links %}
				<li>
					{% assign dir = link.href | remove: '/' %}
					<a href="{{ link.href }}" {% if current[1] == dir %} class='current'{% endif %}>
						{{ link.name }}
						
					</a>
				</li>
			{% endfor %}
			
		</ul>
	</nav>
</header>