/* Header */

header {
  @include rem(padding, 25px 0 25px 0);
  ul.navbar-links {
  	padding: 0;
  	li {
  		// float: left;
  		display: inline-block;
  		list-style: none;
  		a {
  			@include rem(padding, 10px 15px);
  		}
  	}
  }
}
