/* Header */

header {
  @include rem(padding, 25px 0 20px 0);
  p {
    margin-bottom: 0;
  }
  ul.navbar-links {
    padding: 0;
    margin-bottom: 0;
  	li {
  		// float: left;
  		display: inline-block;
  		list-style: none;
  		a {
  			@include rem(padding, 10px 15px);
  		}
  	}
  }
}
