/* Header */

header {
  background-color: #FFFFFF;
  font-family: "Open Sans Condensed", "arial", sans-serif;
  float: left;
  display: block;
  position: relative;
  padding: 20px 20px 40px 20px;
  text-align: left;

  width: 100%;
  box-sizing: border-box;

  @include mq($from: lg) {
    width: auto;
    box-sizing: default;
    padding: 20px;
    margin: 0px 0px 10px 30px;
  }

  nav {
    position: relative;

    .hamburger {
      cursor: pointer;
      
      // position at far right of header bar
      position: absolute;
      top: 5px;
      right: 0;

      // remove default button styles
      border: none;
      outline: none;
      background: none; // prevent grey background on mobile

      // set the size of the icon
      img {
        width: 14px;
        height: 14px;
      }

      // hide the icon on screens of size large (lg; 992px) or bigger
      @include mq($from: lg) {
        display: none;
      }
    }

    a {
      color: #000000;
    }

    p.title {
      margin-top: 0;
      margin-bottom: 30px;
      a {
        color: #000000;
        text-decoration: none;
        border-bottom: none;
        font-weight: bold;
      }
    }
    ul.navbar-links {
      overflow: hidden;
      padding: 0;
      margin: 0;

      li {
        display: block;
        list-style: none;

        a.current {
          border-bottom: 1px dotted #000000;
        }
      }
    }
    @include mq($until: lg) {
      ul.navbar-links.collapsed {
        height: 0;
      }
    }
  }
  
}
