.post {
	background-color: #FFFFFF;

	text-align: left;
	padding: 20px;
	box-sizing: border-box;

	@include mq($from: lg) {
		margin-left: 290px;
		width: 720px;
	}
	

	.slide-controller {
		padding-bottom: 5px;
		font-family: "Open Sans Condensed", "arial", sans-serif;

		.next-slide, .prev-slide {
			cursor: pointer;
			display: inline-block;
		}

		.paging-info {
			font-size: 0.8em;
		}
	}

	.slideshow {
		position: relative;
		height: 500px;
		margin-bottom: 40px;
	}

	.slideshow > * { // this name really needs to be changed!
		position: absolute;
		opacity: 0;
		transition: opacity .25s linear;
	}

	.slideshow > *.visible { opacity: 1 }

	.slideshow img {
		max-height: 500px;
		max-width: 100%;
	}

	.slideshow .caption {
		font-family: "Open Sans Condensed", "arial", sans-serif;
		font-size: 0.8em;
		color: #BBBBBB;
	}

	.post-title {
		margin-top: 0;
		margin-bottom: 20px;
	}
}