/* Home Page */
.home {
	padding: 0 120px;
	.project-home {
		display: flex;
		height: 100%;
	}
	.project-content {
		display: inline-block;
		align-self: flex-end;
	  a {
	  	display: block;
			span {
				position: absolute;
				bottom: 30px;
				left: 20px;
				display: none;
			}
			&:hover {
				span {
					display: block;
				}
			}
	  }
	}
}
