/* Global */

* {
  // Box sizing prevents padding from affecting the size of an element
  box-sizing: border-box;
}

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 30px; // Mobile whitespace 

  // Text settings
  line-height: 1.6;
  font-family: "Noto Serif", serif;

  // Positioning for background image
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @include mq($from: sm) {
    // More whitespaceon 
  	padding-top: 75px
  }
}

img {
  // shrink large images to fit width on mobile
  max-width: 100%;
}
img.thumbnail {
  height: 40px;
}

a {
  text-decoration: none;
  color: #000000;

  border-bottom: 1px dotted;

  &:hover {
    color: #ff0099;
    border-bottom: 1px dotted #ff0099;
  }
}



