/* Home Page */
.container.root {
	text-align: center;
}

.display {
	padding: 30px;
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%; height: 100%;
}

.display-item {
	display: inline-block;
	padding: 20px;
	vertical-align: middle;

	a {
		border-bottom: none;
	}

	.image-container {
		display: inline-block;
		@include mq($until: sm) {
			width: 100%;
		}
		
		position: relative;

		img {
			margin: auto;
		}
	}
}