/* Home Page */

.container.root {
	// center align images to prevent from lining up edge to edge
	// adds a nice-looking unorderliness
	text-align: center;
}

// full-screen display positioned behind navigation block
.display {
	padding: 30px;
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%; height: 100%;
}

// display item used on homepage and display template
.display-item {
	display: inline-block;
	padding: 20px;
	// vertical align images to prevent from lining up edge to edge
	// adds a nice-looking unorderliness
	vertical-align: middle;

	// prevent hover underline on images
	a { border-bottom: none }

	.image-container {
		display: inline-block;
		position: relative;

		// center image on mobile
		@include mq($until: sm) { width: 100% }
		img { margin: auto }
	}
}