<!DOCTYPE html>
<html>
  {% include head.html %}
  <body{% if page.background %}
    style="background-image: url('/../assets/img/{{ page.background}}')"
  {% endif %}>
    <!--{% if page.background %}
      <img src="/../assets/img/{{ page.background }}" class="background">
    {% endif %}-->
  	<div class="container root">
        {% include navigation.html %}
				{{ content }}
				{% include footer.html %}
    </div>
    <script src="{{ root }}/js/dist/app.bundle.js"></script>
  </body>
</html>
