---
layout: default
---

<!-- The home page layout creates (image) links to all the posts in the `_posts` directory; the images will wrap around the navigation block in the same way that text wraps around a floating image -->

{% assign all = site.posts | concat: site.texts | sort: 'date' | reverse %}

{% for post in all %}
	<div class="display-item">
		<a href="{{ site.baseurl }}{{ post.url }}">
			<div class="image-container">
				<img src="/../assets/img/{{ post.image }}" alt=""
					{% if post.width %} width="{{ post.width }}" {% endif %}
					{% if post.height %} height="{{ post.height }}" {% endif %}>
			</div>
		</a>
	</div>
{% endfor %}
