---
layout: default
---

<div class="post">
	{% if page.slideshow.size > 0 %}
		{% if page.slideshow.size > 1 %}
			<div class="slide-controller">
				<div class="prev-slide">
					<div class="icon icon-prev">←&nbsp;</div>
				</div>
				<div class="next-slide">
					<div class="icon icon-next">&nbsp;→&nbsp;&nbsp;</div>
				</div>
				<span class="paging-info"></span>
			</div>
		{% endif %}
		<div class="slideshow">
			{% for image in page.slideshow %}
				<img src="/../assets/img/{{ image }}" alt="">
		  	{% endfor %}
		</div>
	{% endif %}
	<p class="post-title">
		<b>{{ page.title }}</b>
		{% if page.year %}<i>({{ page.year }})</i>{% endif %}
	</p>
	
	{{ content }}
</div>

