---
layout: default
---

<div class="post">
	{% if page.slideshow.size > 0 %}
		{% if page.slideshow.size > 1 %}
			<div class="slide-controller">
				<div class="prev-slide">
					<div class="icon icon-prev">←&nbsp;</div>
				</div>
				<div class="next-slide">
					<div class="icon icon-next">&nbsp;→&nbsp;&nbsp;</div>
				</div>
				<span class="paging-info"></span>
			</div>
		{% endif %}
		<div class="slideshow">
			{% for slide in page.slideshow %}
				<div {% if slide.duration %} data-duration="{{ slide.duration }}" {% endif %}>
					<img src="/../assets/img/{{ slide.image }}" alt=""
						{% if slide.width  %} width ="{{ slide.width  }}" {% endif %}
						{% if slide.height %} height="{{ slide.height }}" {% endif %}>
					{% if slide.caption %}
						<div class="caption">{{ slide.caption }}</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% endif %}
	
	<p class="post-title">
		<b>{{ page.title }}</b>
		{% if page.year %} <i>({{ page.year }})</i> {% endif %}
	</p>
	
	{{ content }}
</div>

