---
layout: default
---

<div class="container-fluid project">
	<div class="post">

		<div class="row">
			<div class="col-xl-2">
			</div>
			<div class="col-xl-8">
				<div class="hero__nav">
					<div class="slider-nav hero__prev js-hero-prev">
						<div class="icon icon-prev">←&nbsp;</div>
					</div>
					<div class="slider-nav hero__next js-hero-next">
						<div class="icon icon-next">&nbsp;→&nbsp;&nbsp;</div>
					</div>
					<span class="slider-nav pagingInfo"></span>
				</div>
				<div class="your-class">
			  {% for link_hash in page.images %}
			    {% for link in link_hash %}
			      <img src="/../assets/img/{{link[0]}}" alt="">
			    {% endfor %}
			  {% endfor %}
				</div>
			</div>
			<div class="col-xl-2"></div>
		</div>
		<div class="row project-content">
			<div class="col-xl-8">
	    	<p class="post-title">{{ page.title }} ({{ page.year }})</p>
	    	<div class="two-columns">
	    		{{ content }}
	    	</div>
			</div>
			<div class="col-xl-4"></div>
		</div>

	</div>
</div>
